/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;400;500;600;700&display=swap');

/* Css Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif; */
}

body {
    color: #fff;
    background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(13, 27, 62) 90%);
}

/* Header Section Start */

.navbar-brand {
    background: linear-gradient(104deg, #DF1CFF -25.59%, #EA0070 138%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 118.5%;
}

.nav-btn {
    border-radius: 8px;
    border: 1.5px solid #E50AA7;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 16px 80px 0px rgba(208, 17, 204, 0.15);
    color: #fff;
    padding: 12px 40px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    transition: all ease 0.4s;
}

.nav-btn:hover {
    background: linear-gradient(104deg, #DF1CFF -25.59%, #EA0070 138%);
}


.nav-link {
    color: #ffffff80;
}

.nav-link:hover {
    color: #fff;
}

.navbar-toggler {
    background: linear-gradient(104deg, #e11cff9c -25.59%, #ea0071b9 138%);
}

/* Header Section End */

/* Hero Section Start */
.hero_title {
    color: #FFF;
    font-family: 'Nunito', 'Poppins', sans-serif;
    font-size: 3.5rem;
    font-style: normal;
    margin-top: 100px;
    font-weight: 900;
    line-height: 130%;
}

.hero_title span {
    color: #1EE0E1;
    font-style: italic;
    font-weight: 300;
}

.hero_des {
    color: #FFF;
    font-family: 'Poppins', 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 150%;
}

.hero_btn {
    padding: 12px 40px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 8px;
    background: linear-gradient(104deg, #DF1CFF -25.59%, #EA0070 138%);
    box-shadow: 0px 9px 100px 0px rgba(208, 17, 204, 0.35);
    transition: all ease-in-out 0.4s;
}

.hero_btn:hover {
    background: linear-gradient(104deg, #ac1cff -25.59%, #ea000c 138%);
}

.nft_market_overview h4 img {
    margin-right: 10px;
}

.nft_market_overview h4 {
    font-family: "Nunito", 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 118.5%;
    margin-bottom: 1rem;
}

.nft_market_overview_items h5 {
    font-family: "Nunito", 'Poppins', sans-serif;
    font-size: 1em;
    opacity: 0.8;
    font-weight: 400;
    line-height: 150%;
}

.nft_market_overview_items p {
    font-family: "Nunito", 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 118.5%;
}

/* Hero Section End */

/* Popular NFTs Section Start */
.popular_nfts_header {
    color: #1EE0E1;
    text-align: center;
    font-family: 'Poppins';
    font-size: 40px;
    font-style: italic;
    font-weight: 200;
    line-height: 130%;
}

.popular_nfts_header span {
    color: #FFF;
    font-family: 'Nunito', 'Poppins', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
}

.popular_nfts_nav a {
    color: #fff;
    font-family: 'Nunito';
    font-size: 1.4rem;
    opacity: 0.8;
    font-weight: 500;
    line-height: 118.5%;
    text-decoration: none;
}

.popular_nfts_nav {
    text-align: center;
}

.item>img {
    padding: 30px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.03);
}

.buy_product_btn {
    padding: 12px 40px;
    outline: none;
    border: none;
    border-radius: 8px;
    color: #fff;
    background: linear-gradient(104deg, #DF1CFF -25.59%, #EA0070 138%);
    box-shadow: 0px 9px 100px 0px rgba(208, 17, 204, 0.35);
}

.buy_product_btn:hover {
    background: linear-gradient(104deg, #ac1cff -25.59%, #ea000c 138%);
}

.explore_nfts_btn {
    width: 230px;
    padding: 12px 40px;
    border-radius: 8px;
    border: 1.5px solid #E50AA7;
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    box-shadow: 0px 16px 80px 0px rgba(208, 17, 204, 0.15);
    transition: all ease 0.4s;
}

.explore_nfts_btn:hover {
    background: linear-gradient(104deg, #DF1CFF -25.59%, #EA0070 138%);
}

/* Popular NFTs Section End */

/* Unique Files Section Start */

.uf_heading h2 {
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    opacity: 0.8;
    background: red;
    padding: 8px 16px;
    display: inline;
    border-radius: 36px;
    background: linear-gradient(90deg, #FFF -106.63%, #1EE0E1 -106.6%, rgba(24, 254, 255, 0.00) 84.92%);
}

.uf_sec_heading {
    color: #FFF;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
}

.uf_sec_heading span {
    color: #1EE0E1;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    line-height: 130%;
}

.item_container {
    width: 100%;
    background: #0d0d2df1;
    border-radius: 15px;
    position: relative;
}

.item_container h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 118.5%;
}

.item_container p {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.8;
}

.ic_icon {
    position: absolute;
    top: -7px;
    right: -7px;
    background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(13, 27, 62) 90%);
    padding: 11px;
    border-radius: 12px;
}

/* Unique Files Section End */

/* Category Section Start */

.category_headings h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
}

.category_headings h2 span {
    color: #1EE0E1;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    line-height: 130%;
}

.category_headings p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.8;
    text-wrap: wrap;
}

/* Category Section End */

/* Responsive Section Start */

@media only screen and (max-width: 768px) {
    .hero_title {
        margin-top: unset;
    }

    .nft_market_overview h4 {
        font-size: 1.2rem;
    }

    .popular_nfts_nav a {
        font-size: 1rem;
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .uf_sec_heading,
    .uf_sec_heading span {
        font-size: 30px;
    }
}

@media only screen and (min-width: 769px) and (max-width:1120px) {
    .hero_img {
        margin-top: 60px;
    }

    .nft_market_overview h4 {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1600px) {
    .hero_img {
        width: 70%;
    }
}

/* Responsive Section End */